.header__logo {
  height: 8rem;
  width: 8rem;
  margin-left: 8rem; }
  @media only screen and (max-width: 50em) {
    .header__logo {
      margin-left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .header__logo {
      margin-left: 0;
      height: 7rem;
      width: 7rem; } }
  @media only screen and (max-width: 21.875em) {
    .header__logo {
      margin-left: 0;
      height: 9rem;
      width: 9rem;
      align-self: flex-start;
      margin-bottom: 1rem; } }

.header__logo-image {
  width: 100%; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem; }
  @media only screen and (max-width: 21.875em) {
    .nav {
      align-self: flex-start;
      height: 20rem;
      padding-bottom: 4rem;
      flex-direction: column; } }

.nav__bar {
  display: flex;
  padding: 3rem;
  font-weight: 600; }
  @media only screen and (max-width: 21.875em) {
    .nav__bar {
      justify-content: space-between;
      padding: 0; } }
  .nav__bar-item {
    list-style: none; }
  .nav__bar-link {
    margin-right: 3rem;
    color: inherit;
    text-decoration: none; }
    @media only screen and (max-width: 50em) {
      .nav__bar-link {
        margin-right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav__bar-link {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 21.875em) {
      .nav__bar-link {
        font-size: 1rem;
        flex-direction: column; } }
    @media only screen and (max-width: 21.875em) {
      .nav__bar-link {
        font-size: 2.5rem; } }

.header__title-h1 {
  padding: 1rem;
  font-size: 5rem; }
  @media only screen and (max-width: 50em) {
    .header__title-h1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__title-h1 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 21.875em) {
    .header__title-h1 {
      padding-left: 3rem;
      font-size: 6rem; } }

.header__title-span {
  padding: 1rem;
  font-size: 4rem;
  font-weight: 600; }
  @media only screen and (max-width: 50em) {
    .header__title-span {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 21.875em) {
    .header__title-span {
      padding: 1rem 3rem;
      font-size: 5rem; } }

.buttons {
  padding-left: 8rem;
  display: flex;
  height: 5rem;
  justify-content: start; }
  @media only screen and (max-width: 50em) {
    .buttons {
      padding-left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .buttons {
      justify-content: start; }
      .buttons:not(:last-child) {
        padding-right: 2rem; } }
  @media only screen and (max-width: 21.875em) {
    .buttons {
      justify-content: center;
      margin-top: 20rem;
      height: 5rem; } }

.btn {
  display: flex;
  transition: all .2s;
  margin-top: 0;
  height: 4rem;
  margin-right: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      justify-content: start; }
      .btn:not(:last-child) {
        padding-right: 2rem; } }
  @media only screen and (max-width: 37.5em) and (max-width: 21.875em) {
    .btn {
      height: 5rem; } }
  .btn__green {
    border-radius: 100px;
    border: 1px solid var(--color-green);
    background: linear-gradient(var(--color-green), var(--color-green));
    background-image: none; }
    .btn__green-white {
      background: linear-gradient(var(--color-green), var(--color-green)); }
    .btn__green:hover {
      transform: scale(1.1); }
  .btn__text {
    text-decoration: none;
    text-align: center;
    color: var(--color-green);
    font-weight: 100;
    font-size: 2rem;
    background-image: none;
    padding: 2rem; }
    @media only screen and (max-width: 21.875em) {
      .btn__text {
        font-size: 3rem; } }
    .btn__text-white {
      color: #fff; }

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey-dark);
  font-size: 3rem;
  font-weight: 600; }
  @media only screen and (max-width: 37.5em) {
    .food {
      padding-bottom: 2rem; } }

.food__header {
  color: var(--color-grey-dark);
  margin-top: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem; }
  @media only screen and (max-width: 50em) {
    .food__header {
      margin-top: 0; } }
  @media only screen and (max-width: 21.875em) {
    .food__header {
      font-size: 4rem;
      font-weight: 600; } }
  .food__header-span {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 8rem; }
    @media only screen and (max-width: 50em) {
      .food__header-span {
        font-size: 2rem; } }
    @media only screen and (max-width: 21.875em) {
      .food__header-span {
        font-size: 3rem;
        font-weight: 800;
        padding: 0 6rem; } }

.green-line {
  border-bottom: 2px var(--color-green) solid;
  width: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 0; }
  @media only screen and (max-width: 50em) {
    .green-line {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem; } }

h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    h4 {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 50em) {
    h4 {
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 21.875em) {
    h4 {
      margin-bottom: 2rem;
      font-size: 3rem; } }

.services {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  font-size: 2.2rem;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 21.875em) {
    .services {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 50em) {
    .services {
      font-size: 1.5rem;
      margin-top: 0;
      margin-bottom: 0; } }
  .services__container {
    flex: 0 0 20%; }
    @media only screen and (max-width: 21.875em) {
      .services__container {
        flex: 0 0 47%;
        height: 50rem; } }
  .services__icon {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .services__icon {
        height: 20%; } }
  .services__icon-green {
    fill: var(--color-green);
    width: 7rem; }
    @media only screen and (max-width: 50em) {
      .services__icon-green {
        width: 5rem; } }
  .services__description-span {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 2.5rem;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: block; }
    @media only screen and (max-width: 50em) {
      .services__description-span {
        font-size: 1.4rem;
        line-height: 1.5rem;
        letter-spacing: 1px; } }
    @media only screen and (max-width: 21.875em) {
      .services__description-span {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 600; } }

.gallery {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden; }
  .gallery__items {
    flex: 0 0 25%; }
    @media only screen and (max-width: 21.875em) {
      .gallery__items {
        flex: 0 0 50%; } }
  .gallery__photo {
    width: 100%;
    display: block; }

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey-dark);
  padding-top: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem; }
  @media only screen and (max-width: 50em) {
    .section__header {
      font-size: 2rem;
      padding-top: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section__header {
      padding-top: 5rem; } }
  @media only screen and (max-width: 21.875em) {
    .section__header {
      font-size: 3rem; } }

.app__container {
  display: flex;
  font-size: 2rem; }
  @media only screen and (max-width: 50em) {
    .app__container {
      font-size: 2rem;
      padding-bottom: 3rem; } }

.app__gallery {
  margin-right: 5rem;
  display: block; }
  @media only screen and (max-width: 50em) {
    .app__gallery {
      margin-right: 5rem;
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .app__gallery {
      width: 40%; } }
  @media only screen and (max-width: 21.875em) {
    .app__gallery {
      margin-right: 2.5rem; } }
  .app__gallery-photo {
    width: 80%;
    display: block; }
    @media only screen and (max-width: 50em) {
      .app__gallery-photo {
        margin-right: 2.5rem;
        width: 100%; } }
    @media only screen and (max-width: 21.875em) {
      .app__gallery-photo {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 600; } }

.app__item {
  display: flex;
  height: 8rem;
  align-items: center;
  margin-bottom: 4rem;
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .app__item {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 21.875em) {
    .app__item {
      margin-bottom: 5rem; } }

.app__list {
  margin-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .app__list {
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: 600; } }
  @media only screen and (max-width: 21.875em) {
    .app__list {
      font-size: 2.5rem; } }

.list__style {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid var(--color-green);
  color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-right: 1rem;
  font-weight: 600;
  text-align: justify; }
  @media only screen and (max-width: 37.5em) {
    .list__style {
      height: 3rem;
      width: 3rem; } }

.app__buttons {
  display: flex;
  justify-content: center;
  align-items: center; }

.app__button {
  font-size: 3.5rem;
  color: transparent;
  border: none;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  cursor: pointer; }
  .app__button-google {
    background-image: url(../img/download-app.svg);
    margin-right: 2rem; }
  .app__button-ios {
    background-image: url(../img/download-app-android.png); }

.cities__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2rem;
  padding-bottom: 20rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 50em) {
    .cities__gallery {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .cities__gallery {
      padding-top: 4rem;
      padding-bottom: 15rem; } }
  .cities__gallery-items {
    flex: 0  0 23%; }
    @media only screen and (max-width: 21.875em) {
      .cities__gallery-items {
        flex: 0 0 45%;
        padding: 2rem; } }
  .cities__gallery-photo {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px; }

.h4__mod {
  font-size: 2.4rem;
  letter-spacing: 1.5px;
  font-weight: 800; }
  @media only screen and (max-width: 50em) {
    .h4__mod {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .h4__mod {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 21.875em) {
    .h4__mod {
      font-size: 3rem; } }

.gallery__text {
  display: flex;
  margin-top: 2rem;
  color: #323232;
  font-weight: 600; }
  @media only screen and (max-width: 37.5em) {
    .gallery__text {
      font-size: 1.4rem;
      margin-top: 1rem; } }
  @media only screen and (max-width: 21.875em) {
    .gallery__text {
      font-size: 3rem; } }

.a__twitter {
  color: var(--color-green);
  text-decoration: none;
  border-bottom: 1px solid var(--color-green); }

.gallery__icon-green {
  fill: var(--color-green);
  width: 2rem;
  height: 2rem;
  margin-right: 1rem; }

.section__pizza {
  position: relative;
  min-height: 100vh;
  overflow: hidden; }
  .section__pizza::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background-image: url(../img/back-customers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%); }
  @media only screen and (max-width: 21.875em) {
    .section__pizza {
      min-height: 80vh; } }

.section__header-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  margin-top: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 50em) {
    .section__header-pizza {
      margin-bottom: 5rem;
      font-size: 2.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .section__header-pizza {
      margin-bottom: 3rem;
      font-size: 2rem; } }
  @media only screen and (max-width: 21.875em) {
    .section__header-pizza {
      font-size: 2.5rem; } }

.pizza__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  font-size: 2rem;
  color: #fff; }
  @media only screen and (max-width: 50em) {
    .pizza__content {
      padding: 0 2rem;
      padding-bottom: 15rem;
      font-weight: 600; } }
  @media only screen and (max-width: 37.5em) {
    .pizza__content {
      font-size: 1.8rem;
      justify-content: center; } }
  @media only screen and (max-width: 21.875em) {
    .pizza__content {
      font-size: 3rem;
      flex-direction: column;
      padding: 0; } }
  .pizza__content-text {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 21.875em) {
      .pizza__content-text {
        width: 90%; } }

.pizza__customers {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  align-content: flex-start; }
  @media only screen and (max-width: 21.875em) {
    .pizza__customers {
      font-size: 2.5rem;
      flex-direction: row-reverse;
      padding-bottom: 8rem;
      font-weight: 600; } }
  .pizza__customers-box {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 21.875em) {
      .pizza__customers-box {
        font-size: 2rem;
        flex-direction: column;
        width: 30%; } }
  .pizza__customers-photo {
    display: block;
    width: 20%;
    border-radius: 50%;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .pizza__customers-photo {
        width: 20%;
        margin-right: 1rem; } }
    @media only screen and (max-width: 21.875em) {
      .pizza__customers-photo {
        width: 60%;
        margin-right: 1rem; } }

.plan__container {
  padding-top: 5rem;
  display: flex;
  font-size: 2rem;
  justify-content: space-between; }
  @media only screen and (max-width: 50em) {
    .plan__container {
      font-size: 1.4rem;
      font-weight: 600; } }
  @media only screen and (max-width: 37.5em) {
    .plan__container {
      padding-top: 3rem; } }
  @media only screen and (max-width: 21.875em) {
    .plan__container {
      flex-direction: column; } }
  .plan__container-item {
    flex: 0 0 30%;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem; }
    @media only screen and (max-width: 21.875em) {
      .plan__container-item {
        width: 60%;
        height: 100%;
        margin-left: 30%;
        margin: 5rem 15rem; } }
  @media only screen and (max-width: 37.5em) {
    .plan__container {
      padding: 0; } }

.plan__h4 {
  display: flex; }

.price {
  display: flex;
  color: var(--color-green);
  margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .price {
      margin-bottom: 0; } }
  .price__dolar {
    font-size: 4rem; }
  .price__month {
    align-self: flex-end;
    font-size: 2rem; }

.plan__button {
  margin-top: 2rem;
  display: flex;
  justify-content: center; }

.nothing {
  color: #fff; }

.form {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;
  flex-direction: column;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 50em) {
    .form {
      padding: 0;
      margin-bottom: 10rem; } }
  .form__place {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3rem; }
    @media only screen and (max-width: 50em) {
      .form__place {
        padding: 2rem;
        font-size: 2.5rem;
        font-weight: 600; } }
    @media only screen and (max-width: 21.875em) {
      .form__place {
        font-size: 3rem;
        padding: 1rem; } }
  .form__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 3rem; }
    @media only screen and (max-width: 50em) {
      .form__group {
        padding: 1.5rem;
        font-size: 2.5rem;
        font-weight: 600; } }
    @media only screen and (max-width: 21.875em) {
      .form__group {
        font-size: 3.5rem;
        padding: 1rem; } }
    .form__group-label {
      position: absolute;
      flex: 0 0 40%; }
    .form__group-input {
      margin-left: 30rem;
      padding: 0.5rem;
      flex: 0 0 50%; }
      @media only screen and (max-width: 21.875em) {
        .form__group-input {
          font-size: 3rem;
          padding: 0rem;
          width: 20%; } }
    .form__group-select {
      width: 10%;
      margin-left: 30rem; }
      @media only screen and (max-width: 50em) {
        .form__group-select {
          width: 20%; } }
      @media only screen and (max-width: 21.875em) {
        .form__group-select {
          width: 30%;
          font-size: 3rem; } }
    .form__group-check {
      margin-left: 30rem; }
    .form__group-place {
      margin-left: 30rem;
      width: 40%;
      flex: 0 0 50%;
      padding-bottom: 10rem; }
      @media only screen and (max-width: 50em) {
        .form__group-place {
          padding: 1.5rem;
          font-size: 1.5rem;
          font-weight: 600; } }
      @media only screen and (max-width: 21.875em) {
        .form__group-place {
          font-size: 3rem;
          padding: 2rem;
          font-weight: 600; } }
  .form__button {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 21.875em) {
      .form__button {
        margin-top: 5rem; } }

.footer__container {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-grey-primary);
  height: 15rem; }
  @media only screen and (max-width: 68.75em) {
    .footer__container {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 50em) {
    .footer__container {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer__container {
      font-size: 0.9rem;
      height: 10rem; } }
  @media only screen and (max-width: 21.875em) {
    .footer__container {
      height: 15rem;
      font-size: 1.5rem; } }

.footer__link {
  display: flex;
  flex: 0 0 33.3333%; }
  @media only screen and (max-width: 21.875em) {
    .footer__link {
      flex: 0 0 25%; } }

.footer__list {
  display: flex;
  list-style: none; }
  @media only screen and (max-width: 21.875em) {
    .footer__list {
      flex-direction: column; } }
  .footer__list-item {
    padding: 0.5rem; }

.footer__text {
  color: var(--color-grey-primary); }
  .footer__text:not(:hover) {
    text-decoration: none; }

.footer__copy {
  display: flex;
  align-items: center;
  flex: 0 0 33.3333%; }
  @media only screen and (max-width: 21.875em) {
    .footer__copy {
      flex: 0 0 55%;
      font-size: 2rem; } }

.footer__icon {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 33.3333%;
  cursor: pointer; }
  @media only screen and (max-width: 21.875em) {
    .footer__icon {
      flex: 0 0 20%; } }
  .footer__icon-item {
    fill: var(--color-grey-primary);
    width: 2rem;
    height: 2rem; }
    .footer__icon-item:not(:last-child) {
      margin-right: 3rem; }
    @media only screen and (max-width: 50em) {
      .footer__icon-item:not(:last-child) {
        margin-right: 1.5rem; } }
    @media only screen and (max-width: 21.875em) {
      .footer__icon-item {
        width: 3rem;
        height: 3rem; } }

.container {
  background-color: #fff;
  max-width: 120rem; }

.header {
  position: relative;
  padding: 4rem;
  min-height: 100vh;
  font-size: 2rem;
  overflow: hidden;
  text-transform: uppercase;
  color: #fff; }
  @media only screen and (max-width: 68.75em) {
    .header {
      padding-bottom: 10rem; } }
  @media only screen and (max-width: 50em) {
    .header {
      padding-bottom: 10rem; } }
  @media only screen and (max-width: 21.875em) {
    .header {
      padding: 0;
      min-height: 80vh; } }
  .header::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background-image: url(../img/hero.jpg);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%); }
    @media only screen and (max-width: 17.5em) {
      .header::before {
        height: 100%; } }

.header__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20rem;
  margin: bottom 0;
  padding-left: 8rem;
  padding-bottom: 0;
  height: 20rem; }
  @media only screen and (max-width: 68.75em) {
    .header__title {
      margin-top: 10rem; } }
  @media only screen and (max-width: 50em) {
    .header__title {
      padding: 0;
      margin-top: 15rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__title {
      margin-top: 10rem;
      height: 15rem; } }
  @media only screen and (max-width: 21.875em) {
    .header__title {
      padding-top: 15rem;
      padding-bottom: 2rem;
      height: 5rem; } }

.main {
  padding-top: 5rem;
  background-color: #fff;
  min-height: 100vh; }

.section {
  min-height: 100vh;
  padding: 10rem;
  background-color: var(--color-grey-primary); }
  @media only screen and (max-width: 50em) {
    .section {
      padding: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .section {
      min-height: 80vh; } }
  @media only screen and (max-width: 21.875em) {
    .section {
      min-height: 50vh; } }
  .section-white {
    padding: 10rem;
    background-color: #fff; }
    @media only screen and (max-width: 50em) {
      .section-white {
        padding: 0rem; } }

.footer {
  padding: 5rem;
  background-color: #3c3b3e; }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 0rem; } }

:root {
  --color-green:#008646;
  --color-grey-primary: #f4f4f4;
  --color-grey-dark: #5a5562; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 35%; } }
  @media only screen and (max-width: 21.875em) {
    html {
      font-size: 22%; } }

body {
  font-family: 'Lato', sans-serif;
  max-width: 120rem;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat; }
